@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*
 font-family: 'Poppins', sans-serif;
*/

.dict {
    position: absolute;
    z-index: 999;
    max-width: 260px;
    border-radius: 6px;
    background-color: white;
    color: black;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    word-wrap: break-word;
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition-duration: 100ms;

    .dict-title {
        font-size: x-large;
        margin: 4px;
        padding-left: 10px;
    }

    hr {
        width: 85%;
        margin: 4px;
    }

    .dict-desc {
        margin: 4px;
        margin-top: 10px;
        padding: 4px;
        line-height: 1.3rem;
    }

    .dict-more {
        font-family: 'Poppins', sans-serif;
        font-size: medium;
        background: #2c3e50;
        color: white;
        border-radius: 5px;
        padding: 6px;
        outline: none;
        border: none;
        cursor: pointer;
        margin: 4px;
        margin-left: 100%;
        transform: translate(-110%);

        &:active {
            transform: translate(-110%) scale(.92);
        }
    }
}